$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

p {
  color: gray;
}

.paddingtop {
  padding-top: 50px;
}
.paddingbottom {
  padding-bottom: 1em;
}
.padding {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}
.thumbnail {
  // max-width: 300px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding: 100px 10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  // background-color: #5cb85c;
  // p {
  //   color: black;
  // }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
    // color: #5cb85c;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.post {
  margin: 40px 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  // .container {
  //   max-width: 830px;
  // }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    text-align: center;
  }
  .form-all{
    text-align: center;
  }
  .post {
    margin: 40px 10px;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #5cb85c;
}
.navbar-default {
  box-shadow: 0px 1px 10px 0px gray;
}
.navbar-default .navbar-nav > li > a {
  color: #4cae4c;
}
.navbar-text {
  text-align: center;
}

.glyphicon {
  top: 3px;
}
.bgsuccess {
  background-color: #5cb85c;
  color: white;
  p {
    color: white;
  }
}
.bgtwo {
  background-color: #eeeeee;
}
.panel-success > .panel-heading {
  color: white;
  background-color: #5cb85c;
  border-color: #d6e9c6;
}

// Contact Form
.form-textarea, .form-textbox {
  max-width: 100%;
}
.form-sub-label {
  margin-top: 3px;
}

.pulse {
  @include animation(pulse .1s infinite alternate ease-in-out);
}

@keyframes pulse {
    0%   { 
      -webkit-transform: rotate(6deg);
    }
    0% {
      -webkit-transform: rotate(-6deg);
    }
    100% {
      -webkit-transform: rotate(6deg);
    }
}